/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
}
.container::after {
  content: "";
  display: block;
  clear: both;
}
.container {
  max-width: 1172px;
  margin: 0 auto;
}
.header {
  background: #445161;
  padding-top: 25px;
}
.header-info-title {
font-size: 60px;
line-height: 70px;
color: #fff;
margin-bottom: 40px;
}
.header-info {
  width: 40%;
  display: inline-block;
}
.header-info-list {
color: #fff;
font-size: 20px;
line-height: 23px;
}
.header-img {
  max-width: 472px;
  float: right;
  margin-bottom: 20px;
}
.header-info-list-item {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}
.header-info-list-item::before  {
  content: "";
  width: 16px;
  height: 13px;
  position: absolute;
  background-image: url("img/Vector.svg");
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  top: calc(0% + 6px);
}
.about-product {
  padding-top: 45px;
  padding-bottom: 50px;
}
.about-product-info-title {
  font-size: 30px;
line-height: 36px;
margin-bottom: 17px;
}
.about-product-info-text {
  font-size: 16px;
line-height: 24px;
color: #333333;
margin-bottom: 11px;
}
.about-product-info {
  width: 50%;
  display: inline-block;
}
.about-product-video {
  width: 430px;
height: 245px;
background: #445161;
float: right;
}
.about-product::after {
  content: "";
  display: block;
  clear: both;
}
.dignity {
  padding-top: 25px;
  padding-bottom: 48px;
  background: #F5F5F5;
}
.dignity-title {
  font-size: 30px;
line-height: 36px;
color: #445161;
text-align: center;
margin-bottom: 30px;
}
.dignity-list-item {
  font-size: 16px;
line-height: 24px;
color: #333333;
width: calc(50% - 36px);
float: left;
margin-bottom: 33px;
padding-left: 40px;
position: relative;
}
.dignity-list-item::before {
  content: "";
  width: 34px;
  height: 35px;
  position: absolute;
  left: 0;
  top: calc(0px + 4px);
  background-image: url("img/plus icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.screenshots {
  padding-top: 25px;
  padding-bottom: 50px;
}
.screenshots-title {
  font-size: 30px;
line-height: 36px;
color: #445161;
text-align: center;
margin-bottom: 45px;
}
.screenshots-figure-img {
  width: 202px;
  float: left;
  margin-right: 14px;
}
.screenshots-figure-info-title{
  font-size: 24px;
line-height: 30px;
color: #445161;
margin-bottom: 13px;
}
.screenshots-figure-info-text {
  font-size: 16px;
line-height: 24px;
color: #333333;
}
.screenshots-figure {
  width: calc(50% - 30px);
  float: left;
  margin-bottom: 27px;
}

.screenshots-figure:nth-child(2){
  clear: left;
}
.screenshots-figure:nth-child(4){
  clear: left;
}
