/* Vars:
  ========================================================================== */

// Font
$titleFont               : 'Raleway', sans-serif;
$textFont                : 'Montserrat', sans-serif;
$btnFont                 : 'Roboto', sans-serif;

// Size
$mainFontColor           : #000000;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

/*
  All colors taken from:
  https://github.com/vedees/uimini
*/

// Main color
$default-color           : #ffffff;
$hover-color             : #C7B199;
$mainFontColor           : #000000;
$title-color             : #555555;
$text-color              : #8C8C8C;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;
